<div class="navbar container-fluid sticky-top">
    <div class="col">
        <a href="#html">Home</a>
    </div>
    <div class="col">
        <a href="#html">Tech Schedule</a>
    </div>
    <div class="col">
        <a href="#html">Auto-Dispatch</a>
    </div>
    <div class="col">
        <a href="#html">Select Day</a>
    </div>
    <div class="col">
        <a href="#html">Settings</a>
    </div>
    <div class="col">
        <a href="#html">Account</a>
    </div>
    <div class="col">
        <a href="#html">Log Out</a>
    </div>
</div>

