<div class="navbar container-fluid sticky-top">
    <div class="col">
        <a href="home">Home</a>
    </div>
    <div class="col">
        <a href="techschedule">Tech Schedule</a>
    </div>
    <div class="col">
        <a href="settings">Settings</a>
    </div>
    <div class="col">
        <a href="account">Account</a>
    </div>
    <div class="col">
        <a href= "about">About</a>
    </div>
    <div class="col">
        <a href="logout" id="log-out">Log Out</a>
    </div>
</div>

