<!--Add Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="add-repair-order-modal" name="add-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Add Repair Order</h5>
            </header><br>
            <form class="modal-body" id="add-ro" name="add-ro">
                <label for="work-order">Repair Order Number:</label><br>
                <input type="text" id="work-order" name="work-order" value="">
                <br>
                <label for="tech">Technician:</label><br>

                <select id="tech" class="custom-select">
                    <!-- Make this prettier -->
                    <% for (const techKey in timeTableDict["0800"]) { %>
                        <option value="<%= techKey %>">
                            <%= techKey.charAt(0).toUpperCase() + techKey.substring(1, 4) +  " " + techKey.slice(4) %>
                        </option>
                        <% } %>
                </select>

                <label for="promise-time">Promise Time</label><br>
                <select id="promise-time" class="custom-select">
                    <% for (const timeSlotKey in timeTableDict) { %>
                        <option value="<%= timeSlotKey %>">
                            <%= timeSlotKey.substring(0, 2) + ":"  + timeSlotKey.substring(2, 4) %>
                        </option>
                        <% } %>
                </select>

                <label for="duration">Duration (in tenths of an hour, e.g. 1.1 for 1 hour and 6
                    minutes):</label><br>
                <input type="text" id="duration" name="duration" value="">
                <br>

                <label for="job-description">Job Description (e.g. oil change, tire rotation)</label><br>
                <input type="test" id="job-description" name="job-description" value="">
                <br>
                
                <label for="ro-note">Notes (e.g. special requests)</label><br>
                <input type="test" id="ro-note" name="ro-note" value="">
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to create a Repair Order-->
                <p id="add-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="add-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<!--Edit Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="edit-repair-order-modal" name="edit-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Edit Repair Order</h5>
            </header><br>
            <form class="modal-body" id="edit-ro" name="edit-ro">
                <label for="edit-work-order">Repair Order Number:</label><br>
                <input type="text" id="edit-work-order" name="edit-work-order" value="">
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to edit a Repair Order-->
                <p id="edit-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="edit-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<!--Delete Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="delete-repair-order-modal" name="delete-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Delete Repair Order</h5>
            </header><br>
            <form class="modal-body" id="delete-ro" name="delete-ro">
                <label for="delete-work-order">Repair Order Number:</label><br>
                <input type="text" id="delete-work-order" name="delete-work-order" value="">
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to delete a Repair Order-->
                <p id="delete-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="delete-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<!--Add Job to Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="add-job-to-repair-order-modal" name="add-job-to-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Add Job to Repair Order</h5>
            </header><br>
            <form class="modal-body" id="add-job" name="add-job">
                <label for="add-job-to-work-order">Repair Order Number:</label><br>
                <input type="text" id="add-job-to-work-order" name="add-job-to-work-order" value="">
                <br>
                <label for="add-job-duration">Duration (in tenths of an hour, e.g. 1.1 for 1 hour and 6
                    minutes):</label><br>
                <input type="text" id="add-job-duration" name="add-job-duration" value="">
                <br>
                <label for="add-job-job-description">Job Description (e.g. oil change, tire rotation)</label><br>
                <input type="test" id="add-job-job-description" name="add-job-job-description" value="">
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to add a job to a Repair Order-->
                <p id="add-job-to-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="add-job-to-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<!--Add Time to Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="add-time-to-repair-order-modal" name="add-time-to-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Add Work Time to Repair Order</h5>
            </header><br>
            <form class="modal-body" id="add-time" name="add-time">
                <label for="add-time-to-work-order">Repair Order Number:</label><br>
                <input type="text" id="add-time-to-work-order" name="add-time-to-work-order" value="">
                <br>
                <label for="duration">Duration (in tenths of an hour, e.g. 1.1 for 1 hour and 6
                    minutes):</label><br>
                <input type="text" id="add-time-duration" name="add-time-duration" value="">
                <br>
                <label for="ro-note">Notes (e.g. reason time added)</label><br>
                <input type="test" id="add-time-ro-note" name="add-time-ro-note" value="">
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to add work time to a Repair Order-->
                <p id="add-time-to-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="add-time-to-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<!--Change Promise Time of Repair Order Modal-->
<div class="modal fade p-3 container col-4" id="change-promise-time-of-repair-order-modal"
    name="change-promise-time-of-repair-order-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <header class="modal-header">
                <h5 class="modal-title">Change Promise Time of Repair Order</h5>
            </header><br>
            <form class="modal-body" id="change-time" name="change-time">
                <label for="change-promise-work-order">Repair Order Number:</label><br>
                <input type="text" id="change-promise-work-order" name="change-promise-work-order" value="">
                <br>
                <label for="change-promise-time">New Promise Time (24-hour format, e.g. 1800 for 6:00pm):</label><br>
                <input type="text" id="change-promise-time" name="change-promise-time" value="">
                <br>
            </form><br><br>
            <footer class="modal-footer">
                <!--Clicking this button will eventually activate a function to change promise time of a Repair Order-->
                <p id="change-promise-time-of-repair-order-modal-error" style="color:red;"></p>
                <button class="btn btn-success" type="button" id="change-promise-time-of-repair-order-submit-button"
                    value="Submit">Submit</button>
                <button class="btn btn-secondary" type="button" value="Cancel" data-dismiss="modal">Cancel</button>
            </footer>
        </div>
    </div>
</div>