<div class="navbar container-fluid sticky-top">
    <div class="col">
        <a href="home">Home</a>
    </div>
    <div class="col">
        <a href="dispatcher/functions/views/techschedule">Tech Schedule</a> <!--this works when you click the link once from the initial home page, but not afterwards; 
            says cannot GET /functions/views/dispatcher/functions/views/techschedule-->
    </div>
    <div class="col">
        <a href="settings">Settings</a>
    </div>
    <div class="col">
        <a href="account">Account</a>
    </div>
    <div class="col">
        <a href="about">About</a>
    </div>
    <div class="col">
        <a href="logout" id="log-out">Log Out</a>
    </div>
</div>